<div class="container">
  <section class="logo-container">
    <p><img class="logo" src="../../assets/logo.png" alt="Logo" />
  Espace Admin</p>
  </section>
  <div class="search-container">
    <img src="../../assets/search.png" alt="search">
    <input type="search" name="search" id="search" placeholder="Chercher Session">
  </div>
  <a class="btn-menu" routerLink='/dashboard'>
    <img src="../../assets/dashboard.png" alt="dashboard">
    <p>Dashboard</p>
  </a>
  <a class="btn-menu" routerLink='/sessions'>
    <img src="../../assets/session.png" alt="">
    <p>Sessions</p>
  </a>
  <a class="btn-menu" routerLink='/formateurs'>
    <img src="../../assets/formateur.png" alt="">
    <p>Formateurs</p>
  </a>
  <a class="btn-menu" routerLink="/participants">
    <img src="../../assets/participant.png" alt="">
    <p>Participants</p>
  </a>

</div>
